.comment {
  padding: 5px 0;
}

.comment .comment {
  border-left: 2px solid #dcdcdc;
  padding: 5px 5px 5px 40px;
}

.comment__author {
  font-size: 14px;
  font-weight: 700;
}

.comment__author--active {
  color: #1e90ff;
}

.comment__text {
  font-size: 16px;
}

.comment__text--active {
  color: #1e90ff;
}
